/***** FONT *****/

@font-face {
  font-family:'Avenir-Med';
  src: url('../font/AvenirNextLTPro-MediumCn_gdi.eot');
  src: url('../font/AvenirNextLTPro-MediumCn_gdi.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNextLTPro-MediumCn_gdi.woff') format('woff'),
    url('../font/AvenirNextLTPro-MediumCn_gdi.ttf') format('truetype'),
    url('../font/AvenirNextLTPro-MediumCn_gdi.svg#AvenirNextLTPro-MediumCn') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'AvenirNextLTPro-DemiIt';
  src: url('../font/AvenirNextLTPro-DemiIt_gdi.eot');
  src: url('../font/AvenirNextLTPro-DemiIt_gdi.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNextLTPro-DemiIt_gdi.woff') format('woff'),
    url('../font/AvenirNextLTPro-DemiIt_gdi.ttf') format('truetype'),
    url('../font/AvenirNextLTPro-DemiIt_gdi.svg#AvenirNextLTPro-DemiIt') format('svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'Avenir-Reg';
  src: url('../font/AvenirNextLTPro-Regular_gdi.eot');
  src: url('../font/AvenirNextLTPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNextLTPro-Regular_gdi.woff') format('woff'),
    url('../font/AvenirNextLTPro-Regular_gdi.ttf') format('truetype'),
    url('../font/AvenirNextLTPro-Regular_gdi.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'AvenirNextLTPro-UltLtCn';
  src: url('../font/AvenirNextLTPro-UltLtCn_gdi.eot');
  src: url('../font/AvenirNextLTPro-UltLtCn_gdi.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNextLTPro-UltLtCn_gdi.woff') format('woff'),
    url('../font/AvenirNextLTPro-UltLtCn_gdi.ttf') format('truetype'),
    url('../font/AvenirNextLTPro-UltLtCn_gdi.svg#AvenirNextLTPro-UltLtCn') format('svg');
  font-weight: 275;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
