body {
    background: url('/images/mapBlur.png') ;
    //background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F4F4F4;
    font-family: "Futura-Medium";
    text-align:justify;
}
@font-face {
  font-family: 'Futura-Medium';
  src: url('font/Futura-Medium.eot');
  src: url('font/Futura-Medium.eot?#iefix') format('embedded-opentype'),
       url('font/Futura-Medium.woff2') format('woff2'),
       url('font/Futura-Medium.woff') format('woff'),
       url('font/Futura-Medium.ttf') format('truetype'),
       url('font/Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

#frontTitle{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
  //  color:white;
    //font-size: em;
    //font-size: 0%;
}
img{
     display: block;
}
.navRight{
    width:15px;
    position: fixed;
    right: -20px;
    top:20%;
}
.slide{
    img{
    width: auto;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    }
}
/*.fp-controlArrow.fp-prev {
  left: 40px;
  transform: rotate(90deg);
  width: 150px;
  height: 80px;
  background: url('/images/arrow.png') !important;
  border:none !important;
} */
.fp-controlArrow.fp-prev {
     border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent !important;
     left: 30px !important;

}
.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.2) !important;
     right: 30px !important;

}
/* 1 VERSION */ 
/*
.fp-section:nth-child(2n){
    background: url('/images/mapBlur.png');
}
.fp-section:nth-child(2n+1){
    background: url('/images/mapBlur2.png');
  // background: #171717;
}*/

.firstFrame{
   // background:#ddb4ea !important;
     background:url('/images/nuageOverlay.png') ;

}
.line{
    background: white;
    height:2px;
    width: 100%;
    opacity: .2;
}
.imageDiv{
    float:left;
   margin-left: 10%;
    width:40%;
    
 }
 #arrow{
    opacity: .5;
    position: absolute;
    left:45%;
    bottom: 5%;
    width: 120px; 
     -webkit-animation: levitate 2s infinite;  
 }
 .imgContainer{
   // height:300px;
   position: relative;
   z-index: 3;
    :nth-child(1) {
    -webkit-animation: levitate 2s infinite;  
    max-width: 60%; 
    position: relative;
    } 
    :nth-child(2) {
        position: absolute;
        left: -5%;
        opacity: .8;
        bottom: 0;
        max-width: 70%;
        z-index: -1;

    }
    :nth-child(3) {
    -webkit-animation: levitateWidth 2s infinite;  
   // max-width: 25%; 
    position: absolute;
    left: 15%;
    bottom: -10%;
    z-index: -1;
    } 
    
 }


.textDiv{
    float:left;
    width:40%;
}
.textLeft{
    margin-left: 10%;
}
.trailer{
    width:80%;
    margin: auto;
    h3{
         margin-left: auto;
         margin-right: auto;
     width: 0px;
    }
}
video{
        width: 100%;
}
.Contact{
    width: 50%;
    margin: auto;
}

#email{
    background: transparent;
    border: none;
    font-size: 1.5em;
    color:#F4F4F4;
}
#commentaire{
    background: transparent;
    border: none;
    font-size: 1.5em;
    color:#F4F4F4;
}
@-webkit-keyframes levitate{
  0% {
         -webkit-transform: translateY(-15px);
   } 
    50% {
           -webkit-transform: translateY(0px);
   }
    100%{
         -webkit-transform: translateY(-15px);
    }
}

@-webkit-keyframes levitateWidth{
  0% {
         -webkit-transform: translateX(0px);
         width:35%;
   } 
    50% {
           width: 40%;
        -webkit-transform: translateX(-10px);
   }
    100%{
        width:35%;
         -webkit-transform: translateX(0px);
    }
}