/***** FONT *****/
@font-face {
  font-family: 'Avenir-Med';
  src: url("../font/AvenirNextLTPro-MediumCn_gdi.eot");
  src: url("../font/AvenirNextLTPro-MediumCn_gdi.eot?#iefix") format("embedded-opentype"), url("../font/AvenirNextLTPro-MediumCn_gdi.woff") format("woff"), url("../font/AvenirNextLTPro-MediumCn_gdi.ttf") format("truetype"), url("../font/AvenirNextLTPro-MediumCn_gdi.svg#AvenirNextLTPro-MediumCn") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: 'AvenirNextLTPro-DemiIt';
  src: url("../font/AvenirNextLTPro-DemiIt_gdi.eot");
  src: url("../font/AvenirNextLTPro-DemiIt_gdi.eot?#iefix") format("embedded-opentype"), url("../font/AvenirNextLTPro-DemiIt_gdi.woff") format("woff"), url("../font/AvenirNextLTPro-DemiIt_gdi.ttf") format("truetype"), url("../font/AvenirNextLTPro-DemiIt_gdi.svg#AvenirNextLTPro-DemiIt") format("svg");
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: 'Avenir-Reg';
  src: url("../font/AvenirNextLTPro-Regular_gdi.eot");
  src: url("../font/AvenirNextLTPro-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../font/AvenirNextLTPro-Regular_gdi.woff") format("woff"), url("../font/AvenirNextLTPro-Regular_gdi.ttf") format("truetype"), url("../font/AvenirNextLTPro-Regular_gdi.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: 'AvenirNextLTPro-UltLtCn';
  src: url("../font/AvenirNextLTPro-UltLtCn_gdi.eot");
  src: url("../font/AvenirNextLTPro-UltLtCn_gdi.eot?#iefix") format("embedded-opentype"), url("../font/AvenirNextLTPro-UltLtCn_gdi.woff") format("woff"), url("../font/AvenirNextLTPro-UltLtCn_gdi.ttf") format("truetype"), url("../font/AvenirNextLTPro-UltLtCn_gdi.svg#AvenirNextLTPro-UltLtCn") format("svg");
  font-weight: 275;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
/* GLOBAL  */
body {
  background: url("../images/background.png"), black;
  background-size: cover;
  color: #F4F4F4;
  font-family: "Avenir-Reg";
}

h3 {
  font-family: "Avenir-Med";
  letter-spacing: 5px;
  font-size: 1.5em;
}

h4 {
  font-family: 'AvenirNextLTPro-UltLtCn';
  letter-spacing: 5px;
}

video {
  width: 100%;
}

img {
  display: block;
}

.blackoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
}

#frontTitle {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

#arrow {
  opacity: .5;
  position: absolute;
  left: 48%;
  bottom: 5%;
  width: 60px;
  -webkit-animation: levitate 2s infinite;
}

.slide img {
  width: auto;
  max-height: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.slideTitle {
  text-align: center;
}

.fp-controlArrow.fp-prev {
  border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent !important;
  border-width: 29.5px 25px 29.5px 0 !important;
  left: 30px !important;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.2) !important;
  border-width: 29.5px 0 29.5px 25px !important;
  right: 30px !important;
}

#mockuptext {
  position: absolute;
  width: 350px;
  left: 50px;
  bottom: -125px;
  z-index: -1;
}

.line {
  background: black;
  height: 2px;
  width: 100%;
  opacity: .5;
}

.imgContainerPhare {
  position: absolute;
  top: 150px;
  right: -130px;
  z-index: 3;
  -webkit-animation: levitate 2s infinite;
  max-width: 100%;
}

.imgContainerCapture {
  position: absolute;
  top: 150px;
  right: -165px;
  z-index: 3;
  -webkit-animation: levitate 2s infinite;
  max-width: 100%;
}

.textDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 500px;
  color: rgba(0, 0, 0, 0.8);
  background: url("../images/backText.png");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 450px;
  overflow: visible;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 100px;
}
.textDiv h3 {
  text-align: center;
  margin-right: auto;
  margin-top: 0;
  font-weight: bold;
}

.textLeft {
  margin-left: 10%;
}

.trailer {
  width: 80%;
  margin: auto;
}

.Contact {
  width: 50%;
  margin: auto;
  text-align: center;
}

#equipe {
  font-family: 'Avenir-Med';
  margin-bottom: 40px;
  font-size: 2em;
}

.rotateSquare {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  border: solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}

.rotateSquare:hover {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.arthur {
  position: relative;
  float: left;
  margin-left: 1%;
  width: 49%;
  text-align: center;
}

.tony {
  position: relative;
  float: left;
  width: 49%;
  border-right: solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.email {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
}

.logoeditis {
  width: 350px;
  margin: auto;
  opacity: 0.9;
}
.logoeditis img {
  width: 100%;
}

/*@media(max-width:600px){
  .imageDiv{
    position:absolute;
    opacity:0.8;
    left:50px;
    width:400px;
    }
 .textDiv{
    float:left;
    width:80%;
    margin: 10%;
    z-index: 15;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
  }
}*/
@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-15px);
  }
}
@-webkit-keyframes levitateWidth {
  0% {
    -webkit-transform: translateX(0px);
    width: 35%;
  }
  50% {
    width: 40%;
    -webkit-transform: translateX(-10px);
  }
  100% {
    width: 35%;
    -webkit-transform: translateX(0px);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
